<div class="">
    <app-chat-header [usuario]="usuarioObjeto"></app-chat-header>

    <div class="wrapper">

      
      <app-conversation-list style="display: flex;"  [usuario]="usuarioObjeto"></app-conversation-list>


      <app-chat-area style="width: 100%;" [usuario]="usuarioObjeto"></app-chat-area>

     





     </div>









    <!-- <div class="wrapper">
      <app-conversation-list></app-conversation-list>
      <app-chat-area></app-chat-area>
      <app-detail-area></app-detail-area>
    </div> -->
</div>