<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="openNavbar()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>AcademIA</span>
  <span class="header-spacer"></span>
  <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button> -->
  <div style="padding-right: 3vh; font-size: 2.9vh; cursor: pointer;" (click)="cerrarSesion()">
    <mat-icon  >highlight_off</mat-icon>
  </div>
  
  <div class="user-image" [style.background-image]="'url(' + userImageBase64 + ')'"></div>
</mat-toolbar>