<div style="padding: 2vh 3vh;">
    <!-- <h1 mat-dialog-title>Dialog with elements</h1>
    <div mat-dialog-content>This dialog showcases the title, close, content and actions elements.</div>
    <div mat-dialog-actions>
        <button  class="btn btn-primary my-4">Basic</button>
    </div> -->

    <h1 class="dialog-title">¡Felicidades, tu tipo de aprendizaje es {{data.tipoAprendiz.nombre}}!</h1>
    <div class="dialog-content">{{data.tipoAprendiz.descripcion}}</div>
    <div class="dialog-content" style="font-weight: 700;">Consejo: <br>{{data.tipoAprendiz.consejo}}</div>
    <!-- <div class="dialog-actions">
        <button class="custom-button">Basic</button>
    </div> -->

</div>