<main>
    <section class="flex flex-center section section-shaped section-lg">
      <div class="shape shape-style-1 bg-gradient-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container pt-lg-md mt-5 mb-5">
        <div class="row justify-content-center">
          <div class="col-lg-5">
            <div class="card bg-secondary shadow border-0">
              <div class="card-header bg-white pb-5">
                <div class="text-muted text-center mb-3">
                  <small>Registrate con</small>
                </div>
                <div class="text-center">
                  <a href="javascript:void(0)" class="btn btn-neutral btn-icon mr-4">
                    <span class="btn-inner--icon">
                      <img src="./assets/img/icons/common/github.svg">
                    </span>
                    <span class="btn-inner--text">Github</span>
                  </a>
                  <a href="javascript:void(0)" class="btn btn-neutral btn-icon">
                    <span class="btn-inner--icon">
                      <img src="./assets/img/icons/common/google.svg">
                    </span>
                    <span class="btn-inner--text">Google</span>
                  </a>
                </div>
              </div>
              <div class="card-body px-lg-5 py-lg-5">
                <div class="text-center text-muted mb-4">
                  <small>O registrate con tus credenciales</small>
                </div>
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" role="form">
                  <div class="form-group" [ngClass]="{'focused':focus===true}">
                    <div class="input-group input-group-alternative mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-single-02"></i></span>
                      </div>
                      <input class="form-control" placeholder="Nombre" type="text"formControlName="name" (focus)="focus=true" (blur)="focus=false">
                    </div>
                  </div>

                  <div class="form-group" [ngClass]="{'focused':focus1===true}">
                    <div class="input-group input-group-alternative mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-watch-time"></i></span>
                      </div>
                      <input class="form-control" placeholder="Edad" type="text" formControlName="age" (focus)="focus1=true" (blur)="focus1=false">
                    </div>
                  </div>

                  


                  <mat-form-field appearance="outline" class="w-40v">
                    <mat-label>Sexo</mat-label>
                    <mat-select formControlName="sex">
                      <mat-option value="Hombre">Hombre</mat-option>
                      <mat-option value="Mujer">Mujer</mat-option>
                      <mat-option value="Otro">Otro</mat-option>
                    </mat-select>
                  </mat-form-field>


                  

                  

                  <mat-form-field appearance="outline" class="w-40v">
                    <mat-label>Nivel de Estudios</mat-label>
                    <mat-select formControlName="educationLevel">
                      <mat-option value="Kinder">Kinder</mat-option>
                      <mat-option value="Primaria">Primaria</mat-option>
                      <mat-option value="Secundaria">Secundaria</mat-option>
                      <mat-option value="Preparatoria">Preparatoria</mat-option>
                      <mat-option value="Licenciatura">Licenciatura</mat-option>
                    </mat-select>
                  </mat-form-field>

                  
                  <div class="form-group" [ngClass]="{'focused':focus2===true}">
                    <div class="input-group input-group-alternative mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                      </div>
                      <input class="form-control" placeholder="Grado/Semestre" type="number" formControlName="grade" (focus)="focus2=true" (blur)="focus2=false">
                    </div>
                  </div>


                  <div class="form-group" [ngClass]="{'focused':focus3===true}">
                    <div class="input-group input-group-alternative mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                      </div>
                      <input class="form-control" placeholder="Correo" type="email" formControlName="email" (focus)="focus3=true" (blur)="focus3=false">
                    </div>
                  </div>
                  <div class="form-group" [ngClass]="{'focused':focus4===true}">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                      </div>
                      <input class="form-control" placeholder="Contraseña" type="password" formControlName="password" (focus)="focus4=true" (blur)="focus4=false">
                    </div>
                  </div>
                  <div class="text-muted font-italic">
                    <small>Seguridad de contraseña:
                      <span class="font-weight-700" style="color: red;" *ngIf="this.registerForm.value.password.length <= 5">Debil</span>
                      <span class="font-weight-700" style="color: rgb(255, 217, 0);" *ngIf="this.registerForm.value.password.length > 5 && this.registerForm.value.password.length <= 10">Media</span>
                      <span class="text-success font-weight-700" *ngIf="this.registerForm.value.password.length > 10">Fuerte</span>
                    </small>
                  </div>

                  <div class="image-upload-wrapper">
                    <input type="file" id="userImage" accept="image/*" hidden (change)="onFileSelected($event)">
                    <label for="userImage" class="image-upload-circle">
                      <i class="fa fa-upload" *ngIf="!imageSrc"></i> 
                      <img id="preview" *ngIf="imageSrc" [src]="imageSrc" alt="User Image">
                    </label>
                  </div>


                  <div class="row my-4">
                    <div class="col-12">
                      <div class="custom-control custom-control-alternative custom-checkbox">
                        <input class="custom-control-input" id="customCheckRegister" type="checkbox" formControlName="agreeTerms">
                        <label class="custom-control-label" for="customCheckRegister">
                          <span>Estoy de acuerdo con los 
                            <a href="javascript:void(0)">Términos y Condiciones</a>
                          </span>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="text-center">
                    <button type="submit" class="btn btn-primary mt-4">Create account</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  